div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Tart{
    grid-column: 1;
    grid-row: 1;
    text-align: right;
    z-index: 1;
}
img{
    grid-column: 1;
    grid-row: 1/3;
    
}
.sweet{
    grid-column: 2;
    grid-row: 1;
    background-color: grey;
    z-index: 1;
}
h1{
    font-size: 100px;
}
.text_cherry{
    grid-column: 2;
    grid-row: 2;
    
}