
img{
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
h4{
    text-align: center;
    color: cornflowerblue;
}
h1{
    text-align: center;
}
p{
    color:gray;
    text-align: center;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: cornflowerblue;
    text-align: center;
}
/**.red{
    
}
.viw{
    grid-column: 2/3;
}
.comm{
    grid-column: 3/4;
}**/